/*

--- 01 TYPOGRAPHY SYSTEM

Line height in paragraph
-Default 1.6

Link font size
-Default 1.8rem

Link font weight
-- 600





*/

:root {
    --primary-background-button: navy;
    --dark-gray: #333;
    --primary-color: #e67e22;
    --tints-color: #fdf2e9;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    font-weight: 400;
    color: #555;
    font-size: 2rem;
}

/*typography*/
h1 {
    font-size: 5.2rem;

}

h2 {
    font-size: 4.2rem;
}

h3 {
    font-size: 3.2rem;
}

h1,
h2,
h3 {
    margin: 0;
    margin-bottom: 3.2rem;
    color: var(--dark-gray);
    font-weight: 700;
    letter-spacing: -.5px;
}

p {
    margin-bottom: 4.8rem;
}


/*container*/
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 2rem;
}

/*grid*/

.grid {
    display: grid;
}

.grid--2x1 {
    grid-template-columns: 1fr 1fr;
}

/*button*/

.btn:link,
.btn:visited {
    padding: 2rem 4rem;
    display: inline-block;
    border-radius: 100px;
    font-weight: 600;
}

.btn--full {
    background-color: var(--primary-color);
    color: #fff;
    transition: all .3s;



}

.btn--outline {
    background-color: #fff;
    transition: all .3s;


}

.btn--full:hover {
    background-color: #cf711f;
}

.btn--outline:hover {
    background-color: transparent;
    box-shadow: inset 0 0 0 3px #fff;

}

/*list*/

.list {
    list-style: none;
    padding-left: 0;
}

/*link*/

a {
    text-decoration: none;
    font-size: 1.8rem;

}

/*grid*/

.grid {
    display: grid;
}

.grid--1x2 {
    grid-template-columns: 1fr 1fr;
}


/*Hero Section*/

.hero__img {
    width: 100%;
}

.hero {
    gap: 9.6rem;
}

.hero__description {
    line-height: 1.6;
}

.hero__text__box {
    align-self: center;
}

.section-hero {
    background-color: var(--tints-color);
    padding: 9.6rem 2rem;
}

.section-hero .margin__right {
    margin-right: 2rem;
}

.meal__delivered {
    display: flex;
    margin-top: 3rem;
    gap: 1rem;
    align-items: center;
    font-size: 1.8rem;
}

.customer__pics img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: -15px;
    border: 2px solid #fff;
}


.customer__pics img:last-child {
    margin: 0;

}

.deliverd__text span {
    color: #cf711f;
    font-weight: 800;
}

/*Header*/

.header {
    padding: 6rem 2rem;
    background-color: var(--tints-color);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;



}

.logo {
    height: 30px;
}

.nav .list {
    display: flex;
    gap: 3rem;
}

.nav__link:link,
.nav__link:visited {
    color: #333;
    font-weight: 600;
    transition: all .3s;

}

.nav__link:hover,
.nav__link:active {
    color: #cf711f;
}

/*section-how*/

.step__image {
    width: 35%;
}

.section-how .subheading {
    color: #cf711f;
    font-size: 1.8rem;
    font-weight: 600;
}

.steps .step__box:nth-child(even) .step__image__box {
    order: -1;
}

.step__number {
    font-size: 8.6rem;
    font-weight: 600;
    color: #ddd;
    margin: 0;
    margin-bottom: 3rem;
}




.step__image__box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


}

.step__box {
    align-items: center;

}

.steps {
    margin-top: 8rem;
}

.steps.grid {
    gap: 5rem;
}

.step__image__box::after,
.step__image__box::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;

}


.step__image__box::before {
    background-color: #fae5d3;
    width: 60%;
    padding-bottom: 60%;
    z-index: -2;

}

.step__image__box::after {
    background-color: #f8d8bd;
    width: 50%;
    padding-bottom: 50%;
    z-index: -1;

}