/*

--- 01 TYPOGRAPHY SYSTEM

Line height in paragraph
-Default 1.6

Link font size
-Default 1.8rem

Link font weight
-- 600





*/

:root {
    --primary-background-button: navy;
    --dark-gray: #333;
    --primary-color: #e67e22;
    --tints-color: #fdf2e9;
    --darker-color: #cf711f;
}

* {
    box-sizing: border-box;
}

*:focus {
    box-shadow: 0 0 0 8px rgba(230, 125, 34, 0.5);
    outline: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    font-weight: 400;
    color: #555;
    font-size: 2rem;
}

/*typography*/
strong {
    font-weight: 600;
}

h1 {
    font-size: 5.2rem;

}

h2 {
    font-size: 4.2rem;
}

h3 {
    font-size: 3.2rem;
}

h1,
h2,
h3 {
    margin: 0;
    margin-bottom: 3.2rem;
    color: var(--dark-gray);
    font-weight: 700;
    letter-spacing: -.5px;
}

p {
    margin-bottom: 4.8rem;
}


/*container*/
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 2rem;
}

/*grid*/

.grid {
    display: grid;
}

.grid--2x1 {
    grid-template-columns: 1fr 1fr;
}

/*button*/

.btn:link,
.btn:visited {
    padding: 2rem 4rem;
    display: inline-block;
    border-radius: 100px;
    font-weight: 600;
}

.btn--full {
    background-color: var(--primary-color);
    color: #fff;
    transition: all .3s;



}

.btn--outline {
    background-color: #fff;
    transition: all .3s;


}

.btn--full:hover {
    background-color: #cf711f;
}

.btn--outline:hover {
    background-color: transparent;
    box-shadow: inset 0 0 0 3px #fff;

}

/*list*/

.list {
    list-style: none;
    padding-left: 0;
    margin: 0;

}

/*link*/

a {
    text-decoration: none;
    font-size: 1.6rem;

}

/*grid*/

.grid {
    display: grid;
}

.grid--1x2 {
    grid-template-columns: 1fr 1fr;
}

.grid--1x3 {
    grid-template-columns: 1fr 1fr 1fr;
}


/*Hero Section*/

.hero__img {
    width: 100%;
}

.hero {
    gap: 9.6rem;
}

.hero__description {
    line-height: 1.6;
}

.hero__text__box {
    align-self: center;
}

.section-hero {
    background-color: var(--tints-color);
    padding: 2rem 2rem;
}

.section-hero .margin__right {
    margin-right: 2rem;
}

.meal__delivered {
    display: flex;
    margin-top: 3rem;
    gap: 1rem;
    align-items: center;
    font-size: 1.8rem;
}

.customer__pics img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: -15px;
    border: 2px solid #fff;
}


.customer__pics img:last-child {
    margin: 0;

}

.deliverd__text span {
    color: #cf711f;
    font-weight: 800;
}

/*Header*/

.header {
    padding: 6rem 2rem;
    background-color: var(--tints-color);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;



}

.logo {
    height: 30px;
}

.nav .list {
    display: flex;
    gap: 3rem;
}

.nav__link:link,
.nav__link:visited {
    color: #333;
    font-weight: 600;
    transition: all .3s;

}

.nav__link:hover,
.nav__link:active {
    color: #cf711f;
}

/*section-how*/
.section-how {
    margin: 7rem 0;
}

.step__image {
    width: 35%;
}

.section-how .subheading {
    color: #cf711f;
    font-size: 1.8rem;
    font-weight: 600;
}

.steps .step__box:nth-child(even) .step__image__box {
    order: -1;
}

.step__number {
    font-size: 8.6rem;
    font-weight: 600;
    color: #ddd;
    margin: 0;
    margin-bottom: 3rem;
}




.step__image__box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


}


.step__box {
    align-items: center;

}

.steps {
    margin-top: 8rem;
}

.steps.grid {
    gap: 5rem;
}

.step__image__box::after,
.step__image__box::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;

}


.step__image__box::before {
    background-color: #fae5d3;
    width: 60%;
    padding-bottom: 60%;
    z-index: -2;

}

.step__image__box::after {
    background-color: #f8d8bd;
    width: 50%;
    padding-bottom: 50%;
    z-index: -1;

}

/*section featured*/

.featured__heading {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #999;
}

.logos img {
    height: 30px;
    filter: brightness(0);
    opacity: .5;

}

.logos {
    display: flex;
    justify-content: space-around;


}

.section-featured {
    margin: 2rem 0;
}

/*section-meal*/

.meals {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    border-radius: 12px;
    overflow: hidden;
}

.section-meal .container {
    text-align: center;
}


.meal__description {
    padding: 1rem 3rem 4rem 3rem;
}

.meal__box {
    gap: 6rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.meal__image__box img {
    width: 100%;
}

.meal__box li {
    display: flex;
    align-items: center;
    gap: 1.8rem;
    font-size: 1.6rem;
    padding-bottom: .8rem;

}

.meal__box .icon {
    color: #cf711f;
    font-size: 2rem;
}

.meal__name {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.meal__tag {
    font-size: 1.2rem;
    background-color: #51cf66;
    padding: .4rem .8rem;
    text-transform: uppercase;
    display: inline-block;
    color: #333;
    margin-bottom: 1rem;
}

.meals__heading {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--darker-color);
    text-transform: uppercase;
}

.recipe__link__box {
    margin-top: 2rem;
    text-align: center;
}

.recipe__link:link,
.recipe__link:visited {
    color: var(--darker-color);
    border-bottom: 1px solid currentColor;
    padding: 3px;
    font-weight: 600;
}

.recipe__link:hover,
.recipe__link:active {

    border-bottom: 1px solid transparent;


}

/*testinomials*/

.testinomials img {
    width: 60px;
    border-radius: 100px;
}

.section-testinomials {
    background-color: var(--tints-color);
    padding: 2rem;
    grid-template-columns: 60fr 40fr;
    align-items: center;
    padding: 6rem 0;
}

.section-testinomials .container {
    grid-template-columns: 60fr 40fr;

}

.section-testinomials .container {
    gap: 4rem;
}

.testinomial__container {
    margin: 0;
    padding-left: 4rem;
}

.testinomial__name {
    font-size: 1.6rem;
    color: #777;
}

.testinomial__tag {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--darker-color);
    font-weight: 600;
}

.section-testinomials blockquote {
    color: #6F6f6f;
    margin: 1rem 0;
    font-size: 1.8rem;
    line-height: 1.6;
}


.gallery {
    align-self: center;
}

.gallery img {
    width: 100%;
    transition: all .3s;
}

.gallery.grid {
    gap: 1.2rem;
}

.gallery img:hover {
    transform: scale(1.05);

}

/*section-pricing*/


/*I have set margin to p by default so here I will 
have to set mannually :( */


.plan1,
.plan2 {
    padding: 4rem 2rem;
    width: 75%;
}

.plan1 {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.plan2 {
    background-color: var(--tints-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    overflow: hidden;


}

.plan1 {
    justify-self: end;
}

.plans.grid {
    gap: 6rem;
}

.plan__type,
.price,
.plan__text {
    text-align: center;
}



.plan__type {
    text-transform: uppercase;
    font-size: 1.4rem;
    color: var(--darker-color);
    font-weight: 800;
    margin: 4rem 0;
    margin: 0;
    margin-bottom: 1rem;
}

.price {
    font-size: 4rem;
    font-weight: 600;
    color: #444;
    margin: 0;

}

.dollar {
    font-size: 3rem;

}

.plan__text {
    font-size: 1.6rem;
    color: #777;
    margin: 1rem 0;

}

.plan__list {
    font-size: 1.8rem;
    margin-top: 5rem;
    line-height: 1.8;
}

.plan__list .icon {
    color: var(--darker-color);
    margin-right: 1rem;
}

.plan__button {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.plan2 header::before {
    content: "Best value";
    display: inline-block;
    color: var(--dark-gray);
    background-color: var(--darker-color);
    padding: .6rem 8rem;
    position: absolute;
    top: 7%;
    right: -23%;

    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    transform: rotate(45deg);
}

/*plan-details*/
.plan-detail {
    text-align: center;
    font-size: 1.6rem;
    padding: 5rem;
}

/*Features*/

.features.grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
}

.feature__box p {}

.feature__icon {
    color: var(--darker-color);
    font-size: 3rem;
    display: block;
    margin-bottom: 2rem;
    background-color: var(--tints-color);
    padding: 1rem;
    border-radius: 100px;
}

.feature__title {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin-top: 0;
    margin-bottom: 1rem;
}

.feature__text {
    font-size: 1.8rem;
    margin-top: 0;
}

/*section-cta*/

.section-cta {}

.cta {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-image: linear-gradient(to left bottom, rgb(230, 125, 34), rgb(238, 164, 100));
    border-radius: 10px;
    overflow: hidden;

    color: #5c320e;
}

.cta__heading {
    color: #5c320e;
}


.cta__text__box {
    padding: 4rem;
}

.cta__text {
    margin: 0;
}




.cta__image__box {
    background-image: linear-gradient(to left bottom, rgba(230, 125, 34, 0.241),
            rgba(238, 164, 100, 0.2)),
        url(../img/eating.jpg);
    background-position: center;
    background-size: cover;
}

.cta__form input,
.cta__form select {
    outline: none;
    border: none;
    padding: 1.2rem;
    font-size: 1.6rem;
    color: inherit;
    width: 100%;
    margin: .6rem 0 2rem 0;
    background-color: var(--tints-color);
    border-radius: 9px;

}

.cta__form {
    margin: 3rem 0 0 0;
}

.cta__form select {
    margin-bottom: 0;
}

.cta__form label {
    font-size: 1.8rem;
    font-weight: 600;
    display: block;
}

.name__and__email {
    gap: 4rem;
}

.select__and__button {
    gap: 4rem;
}

.cta__form .btn {
    align-self: end;
    border: none;
    padding: 1.2rem;
    background-color: #5c320e;
    font-weight: 600;
    border-radius: 9px;
}

.cta :focus {
    box-shadow: 0 0 0 8px rgba(248, 216, 189, 0.5);

}